.wish-tag {
  color: white;
  font-size: 12px;
}

.tag {
  vertical-align: middle;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-search:before {
  content: url("assets/delete-button.svg");
  cursor: pointer;
}
