<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="form-group">
        <h1>Let`s fill your profile!</h1>

      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <form name="form" role="form" #continueRegistrationForm="ngForm" *ngIf="!success">
        <div class="form-group">
          <label>Choose your profile photo:</label>
          <input type="file" (change)="onFileSelected($event)">
          <button type="button" (click)="onUpload()">Upload </button>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="birthDay" >Choose the day of your birth: </label>
          <input type="date" class="form" id="birthDay" name="birthDay" #birthDay="ngModel"
                 [(ngModel)]="account.birthDay" (click)="formatDate()">
        </div>

        <div class="form-group">
          <label class="form-control-label" for="phone">Phone</label>
          <input type="text" class="form-control" [(ngModel)]="account.phone" id="phone" name="phone"
                 #lastName="ngModel" placeholder="Enter your phone number">
          </div>

        <div class="form-group">
          <label class="form-control-label" (click)="changeWishList()">Add first note to your Wishlist: </label>
        </div>


        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="continueRegistrationForm.form.invalid" >
          Save changes
        </button>

        <button type="button" class="btn btn-primary" [routerLink]="['/profile/'+account.login]" >
          Skip
        </button>
      </form>
    </div>
  </div>
</div>
