<div class="friend-info">
  <button type="button"
          class="list-group-item list-group-item-action"
          [ngClass]="{'list-group-item-primary': confirmed,
                      'list-group-item-warning' : !confirmed}">
    User name: {{user.name}}
  </button>
</div>
<div class="friend-action">
  <button *ngIf="!confirmed" type="button" (click)="deleteFriend(user.id)" class="btn btn-success">Confirm</button>
  <button type="button" (click)="confirmFriend(user.id)" class="btn btn-danger">Delete</button>
</div>



