<header>
  <div class="container">
    <div class="row">
      <div class="col-md-0">
        <img width="160" alt="Meetup Logo" src="assets\logomeetup.svg">
      </div>
    </div>
  </div>
</header>

<body>
<div>
  <div class="row justify-content-center">
    <div class="col-md-6 d-inline-flex p-2 justify-content-center align-items-center">
      <h2>Folders</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 d-inline-flex p-2 justify-content-around align-items-start flex-wrap main">
      <a *ngFor="let folder of folders" (click)="openEvents(folder)">
        <div class="folder d-inline-flex p-2 justify-content-center align-items-center flex-wrap">
          <p>{{folder.name}}</p>
        </div>
      </a>
    </div>
  </div>
</div>
</body>
