<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <home-comp [states]="state"></home-comp>
    </div>

    <div class="col-10">
      <div class="container justify-content-center">
        <div class="py-4 d-flex justify-content-between flex-wrap align-items-center">
          <h2>Folders:</h2>
          <button type="button" class="btn btn-primary" (click)="modal.show()" data-toggle="modal">Add folder</button>
        </div>
        <div class="folder d-flex flex-wrap">
          <div *ngFor="let folder of folders" class="card mb-4">
            <div class="head card-body">
              <img class="folder-icon" src="assets/folder-icon.svg" alt="Card image cap">
              <img *ngIf="folder.name!=='general'" (click)="deleteFolder(folder)" class="close-btn"
                   src="assets/close-white.svg" alt="">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{folder.name}}</h5>
              <p class="card-text"><b>Id: </b>{{folder.folderId}}</p>
              <a routerLink="/{{profile.login}}/folders/{{folder.folderId}}" class="btn btn-primary">Open
                folder</a>
            </div>
          </div>
        </div>

        <div class="add-folder">
          <app-modal-window #modal>
            <div class="modal-header d-flex justify-content-between align-items-center">
              <h4 class="modal-title">Add folder</h4>
              <img class="close-btn" src="assets/close.svg" (click)="modal.hide()" alt="">
            </div>
            <div class="app-modal-body">
              <form>
                <div class="form-group">
                  <label for="name">Folder name:</label>
                  <input class="form-control" id="name" placeholder="Enter folder name" name="name" #name
                         [(ngModel)]="nameInput">
                </div>
                <button class="btn btn-default" (click)="modal.hide(); addFolder(name)">Add</button>
              </form>
            </div>
          </app-modal-window>
        </div>
      </div>
    </div>
  </div>

</div>
