<header>
  <div class="container">
    <div class="row">
      <div class="col-md-0">
        <img width="160" alt="Meetup Logo" src="assets\logomeetup.svg">
      </div>
    </div>
  </div>
</header>

<article class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="login-main">
        <h4>Share events with your friends easily</h4>
        <span>Some sample description text about the template goes here</span>

        <h4>Choose present your friend really deserve</h4>
        <span>Another description text about the template goes here</span>

        <h4>Organize your calendar in convenient way</h4>
        <span>Yet another sample description text can be placed in one line</span>

        <h4>Be there and don't forget to tell about us</h4>
        <span>Your last description text about your startup or business</span>
      </div>

    </div>


    <div class="col-md-4 login-main">
      <h4>LogIn</h4>
      <div class="alert alert-danger" *ngIf="errorMessage">
        <h3>{{errorMessage}}</h3>
      </div>
      <form name="form" role="form" (ngSubmit)="logIn()" #loginForm="ngForm" *ngIf="!success">

        <div class="form-group">
          <label class="form-control-label" for="login">Username</label>
          <input type="text" class="form-control" [(ngModel)]="account.login" id="login" name="login"
                 #login="ngModel" placeholder="username">
        </div>

        <div class="form-group">
          <label class="form-control-label" for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" #password="ngModel"
                 placeholder="password"
                 [(ngModel)]="account.password">
        </div>
        <a [routerLink]="['/recovery']">Forgot password?</a>
        <div>
          <button type="button" (click)="logIn()" [disabled]="loginForm.form.invalid" class="btn btn-primary">
            LogIn
          </button>
          <button type="button" class="btn btn-primary" [routerLink]="['/register']">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</article>
