<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Registration</h1>
      <form name="form" role="form" #registerForm="ngForm" *ngIf="!success">
        <div class="form-group">
          <label class="form-control-label" for="login">Login</label>
          <input type="text" class="form-control" [(ngModel)]="account.login" id="login" name="login"
                 #login="ngModel" placeholder="login"
                 minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$" required>
          <div *ngIf="login.dirty && login.invalid">
            <small class="form-text text-danger" *ngIf="login.errors.required">
              Your username is required.
            </small>
            <small class="form-text text-danger" *ngIf="login.errors.minlength">
              Your username is required to be at least 1 character.
            </small>
            <small class="form-text text-danger" *ngIf="login.errors.maxlength">
              Your username cannot be longer than 50 characters.
            </small>
            <small class="form-text text-danger" *ngIf="login.errors.pattern">
              Your username can only contain letters and digits.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="account.name" id="name" name="name"
                 #login="ngModel" placeholder="name"
                 minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$" required>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="lastName">Last name</label>
          <input type="text" class="form-control" [(ngModel)]="account.lastName" id="lastName" name="lastName"
                 #login="ngModel" placeholder="lastName"
                 minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$" required>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="email@mail.com"
                 [(ngModel)]="account.email" minlength=5 maxlength=254 email required>
          <div *ngIf="email.dirty && email.invalid">
            <small class="form-text text-danger" *ngIf="email.errors.required">
              Your email is required.
            </small>
            <small class="form-text text-danger" *ngIf="email.errors.invalid">
              Your email is invalid.
            </small>
            <small class="form-text text-danger" *ngIf="email.errors.minlength">
              Your email is required to be at least 5 characters.
            </small>
            <small class="form-text text-danger" *ngIf="email.errors.maxlength">
              Your email cannot be longer than 100 characters.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" #password="ngModel"
                 placeholder="password"
                 [(ngModel)]="account.password" minlength=4 maxlength=50 required>
          <div *ngIf="password.dirty && password.invalid">
            <small class="form-text text-danger" *ngIf="password.errors.required">
              Your password is required.
            </small>
            <small class="form-text text-danger" *ngIf="password.errors.minlength">
              Your password is required to be at least 4 characters.
            </small>
            <small class="form-text text-danger" *ngIf="password.errors.maxlength">
              Your password cannot be longer than 50 characters.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="confirmPassword">Password confirmation</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                 #confirmPasswordInput="ngModel" placeholder="confirm"
                 [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
          <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required">
              Your confirmation password is required.
            </small>
            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength">
              Your confirmation password is required to be at least 4 characters.
            </small>
            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength">
              Your confirmation password cannot be longer than 50 characters.
            </small>
          </div>
        </div>
        <button type="button" (click)="register()" [disabled]="registerForm.form.invalid" class="btn btn-primary" routerLink="/login">
          Register
        </button>
      </form>
    </div>
  </div>
</div>
